.bordered {
    border: 3px double;
    border-color: black;
}

.gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.brand {
    font-size: calc(1rem + 2.34vw);
    font-weight: 900;
    text-decoration-line: underline;
}

.navbar-text {
    font-size: calc(1rem + 0.5vw);
    font-weight: 900;
}

.footer {
    position: fixed;
    font-size: calc(0.22rem + 0.11vw);
    background: #eeeeee;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration-line: line-through;
}